page-signup {
    .btn{
        border-radius: 25px;
        box-shadow: 2px 15px 35px rgba(0, 0, 0, 0.35);
        font-size: 1.4em;
        background-color:#09A0EF;
        color: white;
        height: 2.5em;
        width: 80%;
        margin-left: 9%;
        margin-top: 5%;
        //  background: linear-gradient( to right, rgb(13, 104, 189)(24, 110, 156), #09A0EF(99, 153, 182));
    
    }
     .Si{
        margin:0 ;
        padding: 0;
     font-size: 2.5em;
     font-weight: bold;
     color: rgba(197, 197, 197, 0.87);
     }
     .Su{
         font-size: 2.5em;
         color:#09A0EF;
         font-weight: bold;
         margin:0 ;
         padding: 0;
         position: absolute;
         top: 9%;
        }
     .el1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 30vh;
    }
         .list{
             border-radius: 20px;
             border:  1.8px solid gray;
             margin-top: 7%;
             text-align: center;
         }
         .fpass{
                  padding-left: 60%;
              }
     .privacy{
        text-align: center;
         color:#09A0EF;
         margin-top: 10%;
     }
}
